* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  color: #222;
}

.navbar {
  height: 70px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 60px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.logo {
  font-size: 26px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 30px;
}

.nav-links a {
  text-decoration: none;
  color: #222;
  font-size: 16px;
  font-weight: 500;
}

.nav-links a:hover {
  color: #d97706;
}

.home,
.products-page,
.cart-page {
  padding: 60px;
}

.home {
  min-height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.home h1 {
  font-size: 48px;
  margin-bottom: 15px;
}

.home p {
  font-size: 20px;
  color: #666;
}
.products-page {
  padding: 50px 60px;
}

.products-page h1 {
  text-align: center;
  margin-bottom: 40px;
  font-size: 36px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
}

.product-card {
  background: white;
  border-radius: 1px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: 0.3s;
}

.product-card:hover {
  transform: translateY(-5px);
}

.product-card img {
  width: 100%;
  height: 240px;
  object-fit: cover;
}

.product-info {
  padding: 20px;
}

.category {
  color: #d97706;
  font-size: 14px;
  margin-bottom: 8px;
}

.product-info h2 {
  margin-bottom: 10px;
}

.description {
  color: #666;
  font-size: 14px;
  line-height: 1.5;
}

.product-info h3 {
  margin: 15px 0;
}

.product-info button {
  width: 100%;
  border: none;
  padding: 12px;
  background: #0a0606;
  color: rgb(245, 238, 238);
  border-radius: 0px;
  cursor: pointer;
  font-size: 15px;
}

.product-info button:hover {
  background: #d97706;
}